<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css' %>
  <style>
  html{
    background-color: white
  }
  ::placeholder {
        color: #999; /* Change placeholder color to gray */
    }
    label span{
        color: red;
    }
  </style>
</head>

<body>
   <div class="container is-flex-column mt-6">
        <h1 class="title is-1 has-text-centered has-text-black">Contact Us</h1>
        <label class="label has-text-black has-text-weight-light">Name <span>*</span></label>
        <input class="input is-small has-background-white has-text-black" placeholder="Enter your Name" type="text"> 
        <label class="label has-text-black has-text-weight-light">Email <span>*</span></label>
        <input class="input is-small has-background-white has-text-black" placeholder="Enter your Email" type="email"> 
        <label class="label has-text-black has-text-weight-light">Message <span>*</span></label>
        <textarea class="textarea is-small has-background-white has-text-black"  placeholder="Enter your text"></textarea>
        
        <div class="is-flex">
            <button class="button has-background-link mt-3">Submit</button>
            <div class="mt-3"><%=link_to "Back", home_pages_path%></div>
        </div>
   </div>
</body>